$c-red: #EB3223;
$c-white: #ffffff;
$c-grey888: #888888;

html, body {
    height: 100%;
}

body {
    .container-fluid {
        padding: 0;
        margin: 0;
        height: 100%;
        display: grid;
        grid: {
            template-areas: "header header header" "menu main main";
            template-columns: 240px auto 300px;
            template-rows: 56px;
        }; // sass 속성 네스팅

        //헤더 네비게이션
        header {
            position: fixed;
            width: 100%;
            box-shadow: 0px 0px 4px 3px rgba(230, 230, 230, 0.4);
            z-index: 999;

            .nav-wrapper {
                height: 56px;
                padding: 0 16px;
                width: 100%;
                background-color: $c-white;
                display: flex;

                ul {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    padding: 0;

                    li {
                        &:hover {
                            .tooltip {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    &.nav-left-area {
                        justify-content: flex-start;
                        padding-left: 15px;

                        li {
                            display: inline-block;
                            padding-right: 15px;

                            .burger-button {
                                color: #a0a0a0;
                                font-size: 22px;
                                cursor: pointer;
                                vertical-align: middle;
                            }

                            .logo {
                                width: 80px;
                                height: 20px;
                            }
                        }
                    }

                    &.nav-right-area {
                        justify-content: flex-end;

                        li {
                            color: #a0a0a0;
                            font-size: 1.2rem;
                            padding: 0 15px;

                            &:nth-child(1) {
                                .tooltip {
                                    right: 155px;
                                }
                            }

                            &:nth-child(2) {
                                .tooltip {
                                    right: 140px;
                                }
                            }

                            &:nth-child(3) {
                                .tooltip {
                                    right: 105px;
                                }
                            }

                            &:nth-child(4) {
                                .tooltip {
                                    right: 65px;
                                }
                            }

                            &.profile-img {
                                img {
                                    width: 32px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }

                //검색창
                form {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    padding-left: 5%;

                    .input-group {
                        width: 100%;
                        height: 30px;
                        max-width: 640px;

                        .form-control {
                            height: unset;
                            border-radius: .15rem;
                            font-weight: 400;

                            &:not(:last-child) {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                                box-shadow: inset 0 0 1px 2px rgba(230, 230, 230, 0.5);
                            }
                        }

                        .keyboard-icon {
                            float: right;
                            position: relative;
                            top: 1px;
                            right: 35px;
                            z-index: 9;

                            img {
                                width: 18px;
                            }
                        }

                        .input-group-append {
                            margin-left: -25px;

                            button {
                                background-color: #f8f8f8;
                                width: 65px;
                                border: 1px solid #ced4da;
                                border: {
                                    top-left-radius: 0;
                                    bottom-left-radius: 0;
                                };

                                &.btn:not(:last-child) {
                                    border: {
                                        top-right-radius: .15rem;
                                        bottom-right-radius: .15rem;
                                    };
                                }

                                &:hover {
                                    background-color: #f0f0f0;
                                }

                                img {
                                    width: 18px;
                                    vertical-align: initial;
                                }
                            }

                            .tooltip {
                                top: 60px;
                                right: 13px;
                            }

                            &:hover {
                                .tooltip {
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        // 사이드 네비게이션
        .side-nav {
            width: 240px;
            overflow-y: scroll;
            background-color: #f5f5f5;
            overflow-x: hidden;
            padding-top: 10px;
            grid: {
                column-start: 1;
                row-start: 2;
            };

            section {
                h6 {
                    font: {
                        size: .9rem;
                        weight: 400;
                    };
                    color: #6c6c6c;
                    padding: 15px 0 0 30px;
                }

                ul {
                    padding-left: 0;
                    margin-bottom: 0;
                    border-bottom: 1px solid #eee;
                    padding-bottom: 16px;

                    a {
                        li {
                            width: 250px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            font-size: .9rem;

                            i {
                                color: $c-grey888;
                                text-align: center;
                                font-size: 1.2rem;
                                width: 80px;
                            }

                            &.default {
                                background-color: #DCDCDC;

                                i {
                                    color: $c-red;
                                }

                                &:hover {
                                    background-color: #d3d3d3;
                                }
                            }

                            &:hover {
                                background-color: #ebebeb;
                            }
                        }
                    }
                }

                &.home-section, &.setting-section {
                    h6 {
                        display: none;
                    }
                }

                &.subscribe-section {
                    img {
                        width: 80px;
                        border-radius: 50%;
                        padding: 0 28px;
                    }
                }
            }

            footer {
                padding: 30px;
                padding-bottom: 15px;

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        font: {
                            size: .8rem;
                            weight: 500;
                        };
                        color: $c-grey888;
                        margin: 0 3px;
                    }
                }

                .copyright {
                    padding-top: 20px;

                    p {
                        font: {
                            size: .8rem;
                            weight: 500;
                        };
                        color: #6c6c6c;
                    }
                }
            }
        }

        main {
            background-color: #fafafa;
            padding: 30px 8% 0;
            grid: {
                column-start: 2;
                column-end: 4;
                row-start: 2;
            };

            section {
                border-bottom: 1px solid #eee;

                .title-area {
                    display: flex;
                    align-items: center;

                    h6 {
                        margin-bottom: 0;
                        letter-spacing: -0.5px;
                        font-weight: 600;
                        margin: 0 10px;
                    }

                    img {
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                    }

                    span {
                        font: {
                            size: .8rem;
                            weight: 400;
                        };
                        color: $c-grey888;
                    }

                    .subscription-num {
                        margin-left: auto;
                        background-color: $c-red;
                        color: $c-white;
                        font: {
                            size: .8rem;
                            weight: 400;
                        };
                        padding: 9px 18px;
                        border-radius: 2px;
                    }

                    .close {
                        margin-left: 15px;
                        color: #9d9d9d;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
