nav {
    &.navbar-expand-lg {
        justify-content: space-between;
        box-shadow: 0px 0px 4px 3px rgba(230, 230, 230, 0.4);
    }

    .nav-left {
        .navbar-toggler {
            border-color: transparent;

            .navbar-toggler-icon {
                width: 1.2em;
                height: 1.2em;
            }
        }

        .navbar-brand {
            margin-right: 0;

            .logo {
                width: 80px;
                height: 20px;
            }
        }

        .country {
            font-size: .5rem;
            color: #888;
            position: relative;
            bottom: 9px;
            right: 3px;
        }
    }

    form {
        &.ml-3 {
            margin-left: 3rem !important;
        }

        &.w-100 {
            width: 40% !important;
        }

        .input-group {
            .keyboard-icon {
                float: right;
                position: relative;
                top: 1px;
                right: 35px;
                z-index: 9;

                img {
                    width: 20px;
                }
            }

            .input-group-append {
                margin-left: -25px;

                button {
                    width: 65px;
                    height: 31px;
                    border: 1px solid #ced4da;
                    background-color: #f8f8f8;

                    &.btn {
                        padding: 0;
                        border-radius: .15rem;
                    }

                    &:hover {
                        background-color: #f0f0f0;
                        color: #333;
                    }
                }
            }
        }
    }

    .navbar-nav {
        &.mr-auto {
            margin-right: 15px !important;
        }

        .nav-item {
            &.dropdown {
                .nav-link {
                    color: #a0a0a0;
                    font-size: 1.2rem;
                    padding: 0 15px;

                    &.dropdown-toggle {
                        &::after {
                            display: none;
                        }

                        &:hover {
                            color: #a0a0a0;
                        }
                    }
                }
            }

            &.profile-img {
                .nav-link {
                    margin-left: 13px;
                    padding: 0;

                    img {
                        width: 32px;
                        border-radius: 50%;
                    }
                }
            }

            .dropdown-menu {
                border-radius: 0;

                .dropdown-item {
                    padding: .5rem 1.5rem;
                    font: {
                        weight: 400;
                        size: .9rem;
                    };
                    color: #333;
                    background-color: #fff;

                    .fab, .fas {
                        font-size: 1.2rem;
                        margin-right: 20px;
                        color: #EB3223;
                    }

                    &:hover {
                        background-color: #f5f5f5;
                    }
                }

                &.dropdown-menu-right {
                    width: 480px;
                    padding: 0;
                    background-color: #f8f8f8;

                    .dropdown-header {
                        font-size: 1rem;
                        color: #333;
                        padding: 1rem;
                    }

                    .dropdown-content {
                        height: 420px;
                        background-color: #fff;

                        .make-channel {
                            text-align: center;
                            padding: 120px 103px;

                            p {
                                color: #888;

                                &:nth-child(1) {
                                    font-weight: 600;
                                    margin-bottom: 8px;
                                }

                                &:nth-child(2) {
                                    font: {
                                        size: .9rem;
                                        weight: 400;
                                    };
                                    margin-bottom: 25px;
                                }
                            }

                            button {
                                background-color: #4693E0;
                                border: none;
                                padding: 8px 15px;
                                border-radius: 2px;
                                color: #fff;
                                font-size: .9rem;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}
