html, body {
  height: 100%; }

body .container-fluid {
  padding: 0;
  margin: 0;
  height: 100%; }
  body .container-fluid header {
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 4px 3px rgba(230, 230, 230, 0.4); }
    body .container-fluid header .nav-wrapper {
      height: 56px;
      padding: 0 16px;
      width: 100%;
      background-color: #fff;
      display: flex; }
      body .container-fluid header .nav-wrapper ul {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        padding: 0; }
        body .container-fluid header .nav-wrapper ul li:hover .tooltip {
          visibility: visible;
          opacity: 1; }
        body .container-fluid header .nav-wrapper ul.nav-left-area {
          justify-content: flex-start;
          padding-left: 15px; }
          body .container-fluid header .nav-wrapper ul.nav-left-area li {
            display: inline-block;
            padding-right: 15px; }
            body .container-fluid header .nav-wrapper ul.nav-left-area li .burger-button {
              color: #a0a0a0;
              font-size: 22px;
              cursor: pointer;
              vertical-align: middle; }
            body .container-fluid header .nav-wrapper ul.nav-left-area li .logo {
              width: 80px;
              height: 20px; }
        body .container-fluid header .nav-wrapper ul.nav-right-area {
          justify-content: flex-end; }
          body .container-fluid header .nav-wrapper ul.nav-right-area li {
            color: #a0a0a0;
            font-size: 1.2rem;
            padding: 0 15px; }
            body .container-fluid header .nav-wrapper ul.nav-right-area li:nth-child(1) .tooltip {
              right: 155px; }
            body .container-fluid header .nav-wrapper ul.nav-right-area li:nth-child(2) .tooltip {
              right: 140px; }
            body .container-fluid header .nav-wrapper ul.nav-right-area li:nth-child(3) .tooltip {
              right: 105px; }
            body .container-fluid header .nav-wrapper ul.nav-right-area li:nth-child(4) .tooltip {
              right: 65px; }
            body .container-fluid header .nav-wrapper ul.nav-right-area li.profile-img img {
              width: 32px;
              border-radius: 50%; }
      body .container-fluid header .nav-wrapper form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 5%; }
        body .container-fluid header .nav-wrapper form .input-group {
          width: 100%;
          height: 30px;
          max-width: 640px; }
          body .container-fluid header .nav-wrapper form .input-group .form-control {
            height: unset;
            border-radius: .15rem;
            font-weight: 400; }
            body .container-fluid header .nav-wrapper form .input-group .form-control:not(:last-child) {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              box-shadow: inset 0 0 1px 2px rgba(230, 230, 230, 0.5); }
          body .container-fluid header .nav-wrapper form .input-group .keyboard-icon {
            float: right;
            position: relative;
            top: 1px;
            right: 35px;
            z-index: 9; }
            body .container-fluid header .nav-wrapper form .input-group .keyboard-icon img {
              width: 18px; }
          body .container-fluid header .nav-wrapper form .input-group .input-group-append {
            margin-left: -25px; }
            body .container-fluid header .nav-wrapper form .input-group .input-group-append button {
              background-color: #f8f8f8;
              width: 65px;
              border: 1px solid #ced4da;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0; }
              body .container-fluid header .nav-wrapper form .input-group .input-group-append button.btn:not(:last-child) {
                border-top-right-radius: .15rem;
                border-bottom-right-radius: .15rem; }
              body .container-fluid header .nav-wrapper form .input-group .input-group-append button:hover {
                background-color: #f0f0f0; }
              body .container-fluid header .nav-wrapper form .input-group .input-group-append button img {
                width: 18px;
                vertical-align: initial; }
            body .container-fluid header .nav-wrapper form .input-group .input-group-append .tooltip {
              top: 60px;
              right: 13px; }
            body .container-fluid header .nav-wrapper form .input-group .input-group-append:hover .tooltip {
              visibility: visible;
              opacity: 1; }
  body .container-fluid .side-nav {
    width: 240px;
    height: 100%;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding-top: 65px; }
    body .container-fluid .side-nav section h6 {
      font-size: .9rem;
      font-weight: 400;
      color: #6c6c6c;
      padding: 15px 0 0 30px; }
    body .container-fluid .side-nav section ul {
      padding-left: 0;
      margin-bottom: 0;
      border-bottom: 1px solid #eee;
      padding-bottom: 16px; }
      body .container-fluid .side-nav section ul a li {
        width: 250px;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: .9rem; }
        body .container-fluid .side-nav section ul a li i {
          color: #888;
          text-align: center;
          font-size: 1.2rem;
          width: 80px; }
        body .container-fluid .side-nav section ul a li.default {
          background-color: #DCDCDC; }
          body .container-fluid .side-nav section ul a li.default i {
            color: #EB3223; }
        body .container-fluid .side-nav section ul a li:hover {
          background-color: #ebebeb; }
    body .container-fluid .side-nav section.home-section h6, body .container-fluid .side-nav section.setting-section h6 {
      display: none; }
    body .container-fluid .side-nav section.subscribe-section img {
      width: 80px;
      border-radius: 50%;
      padding: 0 28px; }
  body .container-fluid main {
    background-color: #fafafa; }
